.display {
    display: inline-flex;
    position: relative;
    margin-left: 40px;
    left: 40.5%;
    transition: left 0.5s ease;
}   
.name {
  color: rgb(102, 102, 102);
  position: relative;
  top: 38px;
  font-family:'MontserratS';
  text-decoration: none;
}
.name:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
}
.selected {
  color: red;
}
@media (max-width: 1410px) {
.display {
 left: 33%;
 }
}